In [70]:
import pandas as pd
import numpy as np

In [71]:
msg = pd.read_csv("C:/Users/VINUTHA R/Downloads/document.csv",names=['message','label'])

In [72]:
print("Total number of instances:",msg.shape[0])

Total number of instances: 18

In [73]:
msg['labelnum']=msg.label.map({'pos':1,'neg':0})

In [74]:
msg

                                  message label  labelnum
0                    I love this sandwich   pos         1
1                This is an amazing place   pos         1
2      I feel very good about these beers   pos         1
3                    This is my best work   pos         1
4                    What an awesome view   pos         1
5           I do not like this restaurant   neg         0
6                I am tired of this stuff   neg         0
7                  I can't deal with this   neg         0
8                    He is my sworn enemy   neg         0
9                     My boss is horrible   neg         0
10               This is an awesome place   pos         1
11  I do not like the taste of this juice   neg         0
12                        I love to dance   pos         1
13      I am sick and tired of this place   neg         0
14                   What a great holiday   pos         1
15         That is a bad locality to stay   neg         0
16         We will have good fun tomorrow   pos         1
17       I went to my enemy's house today   neg         0

In [75]:
X=msg.message

In [76]:
y=msg.labelnum

In [77]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [78]:
X_train

14                     What a great holiday
2        I feel very good about these beers
5             I do not like this restaurant
12                          I love to dance
9                       My boss is horrible
1                  This is an amazing place
16           We will have good fun tomorrow
0                      I love this sandwich
4                      What an awesome view
15           That is a bad locality to stay
7                    I can't deal with this
13        I am sick and tired of this place
8                      He is my sworn enemy
11    I do not like the taste of this juice
Name: message, dtype: object

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
count_v = CountVectorizer()
Xtrain_dm = count_v.fit_transform(X_train)
Xtest_dm = count_v.transform(X_test)

In [26]:
print(type(Xtrain_dm))

<class 'scipy.sparse._csr.csr_matrix'>

In [80]:
df = pd.DataFrame(Xtrain_dm.toarray(),columns=count_v.get_feature_names_out())
print(df[0:5])

   about  am  amazing  an  and  awesome  bad  beers  boss  can  ...  this  \
0      0   0        0   0    0        0    0      0     0    0  ...     0
1      1   0        0   0    0        0    0      1     0    0  ...     0
2      0   0        0   0    0        0    0      0     0    0  ...     1
3      0   0        0   0    0        0    0      0     0    0  ...     0
4      0   0        0   0    0        0    0      0     1    0  ...     0

   tired  to  tomorrow  very  view  we  what  will  with
0      0   0         0     0     0   0     1     0     0
1      0   0         0     1     0   0     0     0     0
2      0   0         0     0     0   0     0     0     0
3      0   1         0     0     0   0     0     0     0
4      0   0         0     0     0   0     0     0     0

[5 rows x 50 columns]

In [81]:
from sklearn.naive_bayes import MultinomialNB

In [82]:
clf = MultinomialNB()
clf.fit(Xtrain_dm,y_train)
pred = clf.predict(Xtest_dm)

In [83]:
pred

array([0, 1, 0, 0], dtype=int64)

In [84]:
for doc,p in zip(X_train,pred):
    p = 'pos' if p ==1 else 'neg'
    print('%s -> %s' % (doc,p))

What a great holiday -> neg
I feel very good about these beers -> pos
I do not like this restaurant -> neg
I love to dance -> neg

In [85]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
print('Accuracy Metrics: \n')
print('Accuracy: ', accuracy_score(y_test, pred))
print('Recall: ', recall_score(y_test, pred))
print('Precision: ', precision_score(y_test, pred))
print('Confusion Matrix: \n', confusion_matrix(y_test, pred))

Accuracy Metrics:

Accuracy:  0.75
Recall:  0.5
Precision:  1.0
Confusion Matrix:
 [[2 0]
 [1 1]]

In [86]:
new_text = "This is a positive message."
new_text1 = np.array([new_text])
new_text_dm = count_v.fit_transform(new_text1)
print(new_text_dm)
df = pd.DataFrame(new_text_dm.toarray(),columns=count_v.get_feature_names_out())
print(df)

  (0, 3)	1
  (0, 0)	1
  (0, 2)	1
  (0, 1)	1
   is  message  positive  this
0   1        1         1     1

In [ ]:
Xtrain_dm.shape[1]

44

In [ ]:
input = count_v.fit_transform(["What a day"])

In [89]:
new_text1.shape

(1,)

In [91]:
Xtrain_dm.shape

(14, 50)

In [88]:
# Assuming Xtrain_dm.shape[1] is the number of features used during training
if new_text1.shape == Xtrain_dm.shape[1]:
    pred1 = clf.predict(new_text1)
else:
    print("Number of features in the new instance doesn't match the model's expectations.")

Number of features in the new instance doesn't match the model's expectations.

In [33]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [34]:
data = pd.read_csv("C:/Users/VINUTHA R/Downloads/tennisdata.csv")

In [35]:
data

     Outlook Temperature Humidity  Windy PlayTennis
0      Sunny         Hot     High  False         No
1      Sunny         Hot     High   True         No
2   Overcast         Hot     High  False        Yes
3      Rainy        Mild     High  False        Yes
4      Rainy        Cool   Normal  False        Yes
5      Rainy        Cool   Normal   True         No
6   Overcast        Cool   Normal   True        Yes
7      Sunny        Mild     High  False         No
8      Sunny        Cool   Normal  False        Yes
9      Rainy        Mild   Normal  False        Yes
10     Sunny        Mild   Normal   True        Yes
11  Overcast        Mild     High   True        Yes
12  Overcast         Hot   Normal  False        Yes
13     Rainy        Mild     High   True         No

In [43]:
X = data.iloc[:,0:-1]

In [44]:
y=data.iloc[:,-1]

In [45]:
le = LabelEncoder()

In [59]:
X.Outlook = le.fit_transform(X.Outlook)

In [60]:
X

    Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [57]:
X.Temperature = le.fit_transform(X.Temperature)

In [56]:
X.Humidity = le.fit_transform(X.Humidity)

In [50]:
X.Windy = le.fit_transform(X.Windy)

In [61]:
X

    Outlook  Temperature  Humidity  Windy
0         2            1         0      0
1         2            1         0      1
2         0            1         0      0
3         1            2         0      0
4         1            0         1      0
5         1            0         1      1
6         0            0         1      1
7         2            2         0      0
8         2            0         1      0
9         1            2         1      0
10        2            2         1      1
11        0            2         0      1
12        0            1         1      0
13        1            2         0      1

In [62]:
y = le.fit_transform(y)

In [63]:
from sklearn.model_selection import train_test_split
X_train1,X_test1,y_train1,y_test1 = train_test_split(X,y,test_size=0.2)

In [64]:
classifier = GaussianNB()
classifier.fit(X_train1,y_train1)

GaussianNB()

In [66]:
from sklearn.metrics import accuracy_score
print("Accuracy is:",accuracy_score(classifier.predict(X_test1),y_test1))

Accuracy is: 0.6666666666666666

In [ ]:
scaler = preprocessing.StandardSc